# Django
Django==2.2
django-username-email==2.2.4
djangorestframework==3.9.4

# Configuration
django-environ==0.4.4

# Python-PostgreSQL Database Adapter
psycopg2==2.7.3.1

# Wharton styles
git+https://github.com/jefftriplett/django-base-theme.git@432f87f  # Pinned to the latest
django-bootstrap3==8.2.1

# Git versioning
bumpversion==0.5.3

# Testing related
coverage==4.5.3
django_fakery==2.0.4
django-test-plus==1.2.1
django_coverage_plugin==1.6.0
factory_boy==2.12.0
faker==0.8.18
flake8==3.7.7

# pytest!
pytest==4.6.3
pytest-cov==2.7.1
pytest-django==3.5.0
